
// 配色方案
//const
$white:#FFF;                             //主白
$red:#ff6e95;                            //主红
$bgc:#ffeff5;                            //背景
$translucent:rgba(255,255,255,0.4);      //播放面板半透明
$line:#EBEBF2;                           //进度条
$line_loading:rgba(255,110,149,0.8);                   //加载进度条
$font-1:#434b67; 
$font-2:#788389;                         //字体1
$font-3:#dcdee0;                         //字体2
$font-4:#e9c3d1;                         //字体3
$btn:#d9dcdf;                            //按钮
$btn_hover:#d9dcdf;                      //按钮悬停
$btn-a:#ff8338;                          //按钮渐变色
$btn-b:#fd42ac;                          //按钮渐变色

//css
//还是动态rem吧
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family:Arial,Helvetica,sans-serif;
    background-color: $bgc;
}
#logo {
    text-align: center;
    vertical-align: middle;
    margin-top: 17px;
}
#logo::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-color: #ff3b4e;
    border: 3px solid #ffe2ed;
    padding: 3px;
    border-radius: 50%;
    background-image: url(../imgs/logo.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
#logo p {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
    color:$font-1;
    margin-left: 12px;
    span{
        font-weight: 600;
        font-size: 12px;
        background-color: $white;
        border: 1px solid #b8c1c5;
        margin-left: 11px;
        padding: 2px 6px;
        border-radius:4px;
        position: relative;
        top: -2px;
        color:#b8c1c5;
    }
}
#ct{
    width: 375px;
    background-color: $bgc;
    margin: 0 auto;
    padding: 1px;
    // overflow: hidden;
}
#player{
    background-color:$white;
    text-align: center;
    width: 344px;
    margin: 18px auto 0 auto;
    padding: 16px;
    border-radius: 7px;
    box-shadow: 0 6px 13px rgba(124, 30, 65,.4);
    overflow: hidden;
    position: relative;
    .music-photo {
        display: block;
        width: 134px;
        height: 134px;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 6px 13px rgba(124, 30, 65,.3);
        >img{
            width: 100%;
            border-radius: 50%;
        }
    }
    h3{
       margin-top: 13px;
       color:$font-2;
       font-size: 16px;
       font-weight: 700;
    }
    p{
        margin-top: 5px;
        color: $font-3;
        font-size: 10px;
    }
    .line{
        display: inline-block;
        width: 270px;
        height: 3px;
        margin-top: 20px;
        background-color: $line;
        border-radius: 1.5px;
        position: relative;
    }
    .line-loading{
        width: 50%;
        height: 3px;
        background-color: rgb(202, 209, 214);
        border-radius: 1.5px;
    }
    .play-time{
        display: inline-block;
        background-color: $line_loading;
        font-size: 9px;
        padding: 4px 9px;
        border-radius: 40px;
        color: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 50%;
        left:0;
        transform:translate(-50%,-50%);
      
      
    }
    .btns{
        margin-top: 20px;
    }
    .btn{
        width: 44px;
        height: 44px;
        margin-left: 37px;
        display: inline-block;
        border-radius: 50%;
    }
    .loop{
        margin-left: 0;
        img{
            display: inline-block;
            width: 100%;
        }
    }
    .play{
        background-image:radial-gradient(50px 50px at -4px  -4px,$btn-a,$btn-b);
        box-shadow: 0 6px 13px rgba(124, 30, 65,.4);
        img{
            display: inline-block;
            width: 100%;
        }
    }
    .next{
        img{
            display: inline-block;
            width: 100%;
        }
    }
    .collect{
        width: 80px;
        height: 80px;
        background-color: #ffe1ec;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        transform:translate(50%,50%);
        >img{
            width: 20px;
            position: absolute;
            top: 20%;
            left: 20%;
        }
    }
}
#album-list{
    width: 100%;
    height: 115px;
    margin-top: 30px;
    overflow:hidden;
    .list-ct{
        overflow-x: auto;
        overflow-y: hidden;
        width: calc(100% + 18px);
        height:  calc(100% + 18px);
        ul{
            >li{
                float: left;
                margin-left: 33px;
                position: relative;
                h4{
                    background-color:rgba(255, 82, 143, 0.5);
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.658);
                    padding: 4px 6px;
                    border-radius: 3px;
                    position: absolute;
                    top:14px;
                    left: -10px;
                    z-index: 3;
                }
                >div{
                    width: 115px;
                    height: 115px;
                    background-color: pink;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 0 6px 13px rgba(124, 30, 65,.4);
                    position: relative;
                    z-index: 1;
                    img{
                        width:100%;
                        height:100%;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
            >li:first-child{
                margin-left: 14px;
            }
            >li::after {
                content: '';
                display: inline-block;
                width: 108px;
                height: 108px;
                background-color: #112633;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: -15px;
                transform:translateY(-50%);
            }
        } 
    }
}
.clearfix::after {content:""; display:block; clear:both;} 
.hide{display: none;}